.NumOfRestro{
    font-size: 2rem;
    color: rgb(182, 26, 26);
    font-weight:600;
    position: absolute;
    margin-top: 2%;
}

.Restro {
    font-size: 1.8rem;
    color: rgb(182, 26, 26);
    font-weight:600;
    position: relative;
    margin-top: 2%;
}